html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #111;
    box-sizing: border-box;
    font-weight: 300;
}

h1.title {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
}

h3.subtitle {
    text-align: center;
    font-weight: 300;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.grid section {
    float: left;
    color: white;
}

.grid.g3 section {
    width: 33.333%;
}

.grid.g3 section .wrap {
    margin: 30px;
}

.grid.g4 section {
    width: 25%;
}

.grid.g4 section .wrap {
    margin: 15px;
}

.grid.g5 section {
    width: 20%;
}

.grid.g5 section .wrap {
    margin: 10px;
}

.grid section .wrap {
    position: relative;
    text-transform: uppercase;
}

.grid section .wrap img {
    visibility: hidden;
    width: 100%;
}

.grid section .wrap .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.c1 {
    background: #6bbce9;
}

.c2 {
    background: #7b8bc7;
}

.c3 {
    background: #9977b4;
}

.c4 {
    background: #dd86b9;
}

.c5 {
    background: #f497a9;
}

.c6 {
    background: #f8a792;
}

.c7 {
    background: #fabc89;
}

.c8 {
    background: #feee7f;
}

.c9 {
    background: #d5e28a;
}

.c10 {
    background: #b7d686;
}

.hero {
    height: 480px;
    overflow: hidden;
    position: relative;
}

.hero .image {
    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-image: url('https://instagram.fbeg3-1.fna.fbcdn.net/t51.2885-15/e35/16908342_1677481712551805_5263823832493326336_n.jpg');
}

.hero .overlay {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    box-shadow: inset 0px -5px 20px rgba(0,0,0,0.25);
}

.hero {
    color: white;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.25);
}

.content-wrap {
    max-width: 960px;
    padding: 0px 20px;
    margin: 0 auto;
    position: relative;
}

#pane {
    float: left;
    width: 80%;
    height: 3000px;
}

.percentage {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 5px;
    background: #6bbce9;
    width: 0%;
    z-index: 1;
}

.sidebar {
    float: left;
    width: 20%;
    min-height: 10px;
    position: relative;
}

.sidebar .menu {
    position: fixed;
    top: 0px;
}

.sidebar .menu a {
    font-size: 12px;
    letter-spacing: 1px;
    color: black;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    margin: 10px 15px;
    position: relative;
}

.sidebar .menu a span.pc {
    background: #6bbce9;
    height: 3px;
    display: block;
    width: 0px;
}

footer {
    height: 500px;
    background: #6bbce9;
}
